Repository mwoodpatrick/wordpress-helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-wp-cli, build-wp

build-wp-cli:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

build-wp:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

update docker repository location
  values.yaml
Due: none

stop using `with_items` in ansible playbooks (imported from old repo)
  Chart.yaml
  README.md
  RELEASING.md
  delete.sh
  templates/statefulset.yaml
  values-local.yaml.example
  values.yaml
  wp-cli-docker/Dockerfile
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
  wp-cli-docker/roles/wordpress-init/tasks/mu-plugins-cron.yml
  wp-cli-docker/roles/wordpress-init/tasks/multilingual.yml
  wp-cli-docker/roles/wordpress-init/tasks/redis.yml
  wp-cli-docker/roles/wordpress-permissions/tasks/main.yml
Due: build-wp-cli

remove "docker" tag from CI jobs
  .gitlab-ci.yml
Due: build-wp-cli, build-wp

add ignored install-php-extensions.sh script
  wp-docker/install-php-extensions.sh
Due: build-wp

write backups to remote storage
  Chart.yaml
  RELEASING.md
  templates/secrets.yaml
  templates/statefulset.yaml
  values-local.yaml.example
  values.yaml
  wp-cli-docker/Dockerfile
  wp-cli-docker/roles/wordpress-backup/tasks/main.yml
  wp-cli-docker/scripts/backup.sh
Due: build-wp-cli

add install-php-extensions.sh
  wp-docker/install-php-extensions.sh
Due: build-wp

redo accidentally overwritten changes from master
  Chart.yaml
  RELEASING.md
  templates/statefulset.yaml
  values-local.yaml.example
  values.yaml
  wp-cli-docker/Dockerfile
Due: build-wp-cli

redo more changes from master
  values-local.yaml.example
  values.yaml
Due: none

redo changes from master branch
  Chart.yaml
  RELEASING.md
  templates/statefulset.yaml
  values-local.yaml.example
  values.yaml
  wp-cli-docker/Dockerfile
Due: build-wp-cli

fix link to docker repo
  values.yaml
Due: none

release 0.1.2 version on new repo
  CHANGELOG.md
  Chart.yaml
  RELEASING.md
  values.yaml
Due: none

Bumped to latest secure version
  values.yaml
Due: none

do not set imagePullSecretName to an empty string
  templates/statefulset.yaml
Due: none

change Dockerfile to change Apache ports
  templates/statefulset.yaml
  wp-docker/Dockerfile
Due: build-wp

Release version 0.1.3
  CHANGELOG.md
  Chart.yaml
  RELEASING.md
  values.yaml
Due: none

differentiate between test installation and installation scripts
  install.sh.example
  test-install.sh.example
Due: none

Apply suggestion to test-install.sh.example
  test-install.sh.example
Due: none

explain that you need to edit values-local.yaml.example, remove trailing spaces
  test-install.sh.example
  values-local.yaml.example
Due: none

make bug reporting issue template
  .gitlab/issue_templates/bug.md
Due: none

process some feedback
  delete.sh
  templates/statefulset.yaml
  values-local.yaml.example
  values.yaml
Due: none

remove subPath, fix comments, remove tmp directory after using it
  delete.sh
  templates/statefulset.yaml
  values-local.yaml.example
  wp-cli-docker/Dockerfile
  wp-cli-docker/roles/wordpress-backup/tasks/main.yml
Due: build-wp-cli

Apply 1 suggestion(s) to 1 file(s)
  .gitlab/issue_templates/bug.md
Due: none

re-add -->
  .gitlab/issue_templates/bug.md
Due: none

use podsecuritycontext instead of container security context, set fsgroup
  templates/statefulset.yaml
Due: none

re-add changes from old !28
  Chart.yaml
  values-local.yaml.example
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/openid-connect.yml
  wp-cli-docker/roles/wordpress-init/templates/additional_functions.php
Due: build-wp-cli

set max upload size to 50 m with ingress annotation
  values.yaml
Due: none

Simplify the installation of mu-plugins using Alpine zip
  wp-cli-docker/roles/wordpress-init/tasks/mu-plugins-cron.yml
Due: build-wp-cli

Apply 1 suggestion(s) to 1 file(s)
  values.yaml
Due: none

update changelog for 0.1.4 chart version
  CHANGELOG.md
Due: none

Added languages Clarified locale
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

Removed dict2items
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

Added a PHP task with values
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
  wp-cli-docker/roles/wordpress-init/tasks/php.yml
Due: build-wp-cli

Fixed path Added file touch
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/php.yml
Due: build-wp-cli

Path conditions:
  build-wp-cli: any of: wp-cli-docker/**/**/*, .gitlab-ci.yml
  build-wp: any of: wp-docker/**, .gitlab-ci.yml
