Repository mwoodpatrick/wordpress-helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-wp-cli, build-wp

.gitlab-ci.yml:

---

# A Gitlab CI job template for building docker images using kaniko.
#
# Required environment variables:
# - KANIKO_BUILD_IMAGENAME: Build/target image name.
#   Images will be named like
#     `open.greenhost.net:4567/GROUP/PROJECT/KANIKO_BUILD_IMAGENAME:TAG`
#   , where TAG is the CI_COMMIT_REF_SLUG, and also the CI_COMMIT_TAG if set.
#
# Optional environment variables:
# - KANIKO_CONTEXT: The subdir which holds the Dockerfile, leave unset if
#                   the Dockerfile is located at root level of the project.
.kaniko_build:
  stage: build
  image:
    # We need a shell to provide the registry credentials, so we need to use the
    # kaniko debug image (https://github.com/GoogleContainerTools/kaniko#debug-image)
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - if [ -n "${CI_COMMIT_TAG}" ]; then export KANIKO_BUILD_TAGNAME="${CI_COMMIT_TAG}"; else export KANIKO_BUILD_TAGNAME="${CI_COMMIT_REF_SLUG}"; fi
    - /kaniko/executor --cache=true --context ${CI_PROJECT_DIR}/${KANIKO_CONTEXT:-.} --dockerfile ${CI_PROJECT_DIR}/${KANIKO_CONTEXT:-.}/Dockerfile --destination ${CI_REGISTRY_IMAGE}/${KANIKO_BUILD_IMAGENAME}:${KANIKO_BUILD_TAGNAME}

stages:
  - build

default:
  image: "${CI_REGISTRY_IMAGE}/${KANIKO_BUILD_IMAGENAME}:${CI_COMMIT_REF_SLUG}"

build-wp-cli:
  stage: build
  variables:
    KANIKO_BUILD_IMAGENAME: wordpress-cli-ansible
    KANIKO_CONTEXT: wp-cli-docker
  extends: .kaniko_build
  # Run this job if files have changed that are used when building the docker
  # image, or when the commit is a tag.
  rules:
    - changes:
        - wp-cli-docker/**/**/*
        - .gitlab-ci.yml
      when: on_success
    - if: '$CI_COMMIT_TAG'
      when: on_success

build-wp:
  stage: build
  variables:
    KANIKO_BUILD_IMAGENAME: wordpress
    KANIKO_CONTEXT: wp-docker
  extends: .kaniko_build
  # Run this job if files have changed that are used when building the docker
  # image, or when the commit is a tag.
  rules:
    - changes:
        - wp-docker/**
        - .gitlab-ci.yml
      when: on_success
    - if: '$CI_COMMIT_TAG'
      when: on_success

Added touch wp.ini to shell script
  wp-cli-docker/roles/wordpress-init/tasks/php.yml
  wp-docker/install-php-extensions.sh
Due: build-wp-cli, build-wp

Added wp.ini to Dockerfile
  wp-docker/Dockerfile
  wp-docker/install-php-extensions.sh
  wp-docker/wp.ini
Due: build-wp

Good version using Docker only
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
  wp-cli-docker/roles/wordpress-init/tasks/php.yml
  wp-docker/Dockerfile
  wp-docker/install-php-extensions.sh
  wp-docker/wp.ini
Due: build-wp-cli, build-wp

add enableServiceLinks option
  templates/statefulset.yaml
  values.yaml
Due: none

Matches nginx
  wp-docker/wp.ini
Due: build-wp

Resolve "MU PLUGIN DIR path is incorrect"
  .gitignore
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
  wp-cli-docker/roles/wordpress-init/tasks/mu-plugins-cron.yml
  wp-cli-docker/roles/wordpress-init/tasks/redis.yml
  wp-cli-docker/roles/wordpress-init/tasks/wp-content-repo.yml
  wp-cli-docker/roles/wordpress-permissions/tasks/main.yml
Due: build-wp-cli

Locale changed to default_language and DEFAULT_LANG
  values-local.yaml.example
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

first changes to be able to call cron from a kubernetes cronjob
  templates/cronjob.yaml
  templates/ingress.yaml
  values.yaml
Due: none

move default values for mu_cron to values.yaml
  values-local.yaml.example
  values.yaml
Due: none

Include disableCommands to override Bitnami Redis and to allow FLUSHDB and FLUSHALL for clearing caches
  values-local.yaml.example
  values.yaml
Due: none

fix backups, explain backup usage better in values-local.yaml.example
  templates/statefulset.yaml
  values-local.yaml.example
Due: none

work in progress improving cronjob call
  templates/cronjob.yaml
  templates/ingress.yaml
  templates/statefulset.yaml
  values.yaml
Due: none

work on cron stuff, not working yet
  templates/cronjob.yaml
  templates/ingress.yaml
  values-local.yaml.example
  values.yaml
Due: none

use older but stable version of wp-cron-control
  values.yaml
Due: none

properly block wp-cron.php path from ingress
  templates/cronjob.yaml
  templates/ingress.yaml
  values.yaml
Due: none

add how you can change cron schedule
  values-local.yaml.example
Due: none

fix name of cron-control php file
  values.yaml
Due: none

process feedback
  templates/cronjob.yaml
  values.yaml
Due: none

Apply 3 suggestion(s) to 3 file(s)
  templates/cronjob.yaml
  templates/ingress.yaml
  values.yaml
Due: none

more feedback processed
  templates/cronjob.yaml
  values.yaml
Due: none

Resolve "Show original external IPs in kubectl logs"
  README.md
  values-local.yaml.example
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
  wp-docker/Dockerfile
Due: build-wp-cli, build-wp

Settings Values Init tasks
  values-local.yaml.example
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

Bebug
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

More debug
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

Typo
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

halfway to the long solution
  values-local.yaml.example
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

Remove debug, fix typo
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

More Typos
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

Initial
  values-local.yaml.example
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

Cleaner
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

Restored 0600 0644
  values.yaml
Due: none

Typo
  values.yaml
Due: none

Typo again
  values.yaml
Due: none

Reduce default number of failed jobs kept to 3
  values.yaml
Due: none

Default to disableCommand as null in values.yaml
  values-local.yaml.example
  values.yaml
Due: none

Make backoffLimit configurable and default to 1
  templates/cronjob.yaml
  values.yaml
Due: none

Fix indentation of values.yaml
  values.yaml
Due: none

update changelog, chart and values file for new release
  CHANGELOG.md
  Chart.yaml
  values.yaml
Due: none

add line to changelog
  CHANGELOG.md
Due: none

make WP_CRON_CONTROL_SECRET default to random string
  values.yaml
Due: none
